doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title= title

    meta(name='description' content='')
    meta(name='robots' content='index follow')

    meta(property='og:title' content='Content Title')
    meta(property='og:description' content='Description Here')
    meta(property='og:image' content='https://example.com/image.jpg')
    meta(property='og:url' content='https://example.com/page.html')

    meta(name='twitter:title' content='Content Title')
    meta(name='twitter:description' content='less than 200 characters')
    meta(name='twitter:image' content='https://example.com/image.jpg')
    meta(name='twitter:card' content='summary')

    link(href='https://plus.google.com/+YourPage' rel='publisher')
    meta(itemprop='name' content='Content Title')
    meta(itemprop='description' content='Content description less than 200 characters')
    meta(itemprop='image' content='https://example.com/image.jpg')

    link(href='dist/img/favicon/favicon-16.png' rel='icon' sizes='16x16')
    link(href='dist/img/favicon/favicon-32.png' rel='icon' sizes='32x32')
    link(href='dist/img/favicon/favicon-48.png' rel='icon' sizes='48x48')
    link(href='dist/img/favicon/favicon-62.png' rel='icon' sizes='62x62')
    link(href='dist/img/favicon/favicon-192.png' rel='icon' sizes='192x192')

    meta(name='theme-color' content='')

    link(href='dist/css/main.css' rel='stylesheet')
  body
    h1= title

    script(src='dist/js/main.js' async='')
